body {
    font-family: 'Helvetica', 'HelveticaWorld-Regular', sans-serif;
}

nav img {
    width: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-links {
    text-wrap: nowrap;
    align-items: center;
    justify-content: right;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

ul {
    justify-content: right;
    list-style: none;
    display: flex;
    padding-right: 2%;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.inicio {
    margin-top: 50px;
}

.slogan {
    padding-right: 30px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 900;
}

.inicio h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    font-size: 4rem;
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: #53A43F;
}

.hero-text {
    text-wrap: nowrap;
    font-size: 1.125rem;
    padding-left: 50px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 900;
}

.hero-text h3 {
    display: block;
    width: 100%;
    overflow-wrap: break-word;
}

.main-imagenes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.main-imagenes img {
    width: 45%;
    flex-direction: row;
}

.callout {
    position: absolute;
    padding: 10px;
    top: 72%;
    background-color: #fff;
    color: #000;
    font-size: 24px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.callout:hover {
    background-color: #1046ab;
    color: white;
}

.hacer {
    margin-top: 30px;
    padding-top: 20px;
    background-color: #000;
    color: #fff;
}

.hacer h2 {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
}

.hacer p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.hacer img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: inline;
    margin: 0 auto;
}

.features {
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.feature {
    display: flex;
    align-items: center;
    padding: 20px;
}

.feature img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
}

.text h4 {
    margin: 0;
    font-size: 1.2em;
}

.text p {
    margin: 5px 0 0;
    font-size: 16px;
}

.sobreNosotros {
    background-color: #000;
    color: #fff;
    padding-top: 30px;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.texto {
    margin-left: 40px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    margin-right: 60px;
}

.texto h2 {
    font-size: 90px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
}

.imagen img {
    width: 80%;
}

.grupoImagenes {
    padding-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: #fff;
}

.grupoImagenes img {
    width: 22%;
}

.frase {
    padding-top: 20px;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    color: #000;
    text-align: center;
}

.proposito {
    background-color: #000;
    color: #fff;
    padding-top: 20px;
}

.proposito h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
}

.columnaInfo button {
    display: none;
}

.columnas {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.columnaInfo {
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    line-height: 1.5;
}

.columnaInfo img {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.columnaInfo h4 {
    text-align: center;
    font-size: 20px;
}

/* Para pantallas más pequeñas (tabletas y móviles) */
@media screen and (max-width: 768px) {

    /* Hero Section */
    .hero-section h1 {
        font-size: 2.5rem;
        /* Reducir el tamaño en dispositivos más pequeños */
    }

    .hero-text h3 {
        font-size: 0.9rem;
        line-height: 0.1;
        /* Reducir el tamaño del texto */
    }

    .logotipo {
        width: 50px;
        /* Ajustar tamaño del logo */
    }

    .menu {
        display: none;
        /* Ocultar la lista de enlaces */
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .navbar-links {
        display: none;
        /* Ocultar la lista de enlaces */
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
        /* Mostrar cuando esté activo */
    }

    .navbar-toggle {
        display: block;
        /* Mostrar el botón de toggle en pantallas pequeñas */
    }

    .hacer h2 {
        font-size: 2rem;
    }

    .sobreNosotros h2 {
        font-size: 2rem;
        text-align: center;
    }

    .columnaInfo img {
        width: 50%;
    }

    .hacer img {
        max-width: 150px;
        /* Ajusta el tamaño máximo para pantallas medianas */
    }

    .grupoImagenes {
        padding-left: 10px;
        margin-top: 20px;
        gap: 20px;
    }

    .frase {
        padding-top: 8px;
    }

    .frase h3 {
        font-size: 1.8rem;
    }

    .columnas {
        gap: 0;
    }

    .proposito h4 {
        font-size: 0.9rem;
    }

    .proposito p.oculto {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        /* Número de líneas que deseas mostrar */
    }

    .proposito .mostrar-todo {
        display: block;
        -webkit-line-clamp: unset;
        /* Anula el límite de líneas cuando el texto está expandido */
        max-height: none;
        /* Permite que el texto completo sea visible */
    }

    .columnaInfo button {
        display: inline;
        background-color: transparent;
        border: 0;
        color: #fff;
        font-weight: 700;
    }

    .columnaInfo button:hover {
        background-color: #fff;
        color: #000;
        padding: 5px;
        border-radius: 5px;
    }

}

/* Para pantallas muy pequeñas (móviles) */
@media screen and (max-width: 480px) {
    .inicio h1 {
        font-size: 2rem;
        padding-left: 10px;
    }

    .slogan {
        font-size: 0.8rem;
        padding-right: 10px;
    }

    .hero-text h3 {
        font-size: 0.79rem;
        /* Reducir el tamaño del texto */
    }

    .callout {
        top: 85%;
        /* Ajustar la posición del botón */
        font-size: 18px;
    }

    /* Features Grid - Cambiar a una columna */
    .features {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    /* About Section */
    .about {
        grid-template-columns: 1fr;
        /* Hacer que el contenido se muestre en una columna */
    }

    .grupoImagenes {
        flex-direction: column;
        align-items: center;
    }

    .grupoImagenes img {
        width: 90%;
        /* Las imágenes se ajustarán al 90% de la pantalla */
    }

    /* Columnas */
    .columnas {
        flex-direction: column;
        /* Hacer que las columnas se apilen */
        gap: 30px;
    }

    .hacer img {
        max-width: 120px;
        /* Ajusta el tamaño máximo para pantallas pequeñas */
    }
}

.full-title {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color: #000;
}

.full-title h2 {
    font-size: 7rem;
    text-transform: uppercase;
    text-align: left;
    padding-left: 40px;
    font-weight: bolder;
    margin-top: 20px;
}

.left {
    width: 35%;
    height: 30%;
    margin-left: -130px;
}

.right {
    width: 20%;
    height: 20%;
    align-self: center;
    padding-right: 30px;
}

.afiliados {
    margin-bottom: 30px;

}

.afiliados h3 {
    font-size: 90px;
    color: #53A43F;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.empresas {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 45px;
    background-color: #fff;
}

.empresas img {
    width: 310px;
    height: 300px;
    margin: 0 20px;
}

/* Estilo base para la sección "productos" */
.productos {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.productos h3 {
    font-size: 3.8rem;
    margin-bottom: 20px;
    margin-top: 25px;
}

.productos p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}

.producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filaInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.filaInfo img {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-left: 10px;
    object-fit: cover;
}

.text {
    margin-top: 10px;
    align-self: start;
}

.text ul {
    margin: 5px 0 0;
    list-style: disc;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.5;
}

.text span {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    font-size: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
    .filaInfo {
        flex-direction: column;
        /* Coloca los elementos en una columna en lugar de una fila */
        text-align: center;
    }

    .filaInfo img {
        margin: 0 auto 15px;
        /* Centra la imagen y añade margen inferior */
        max-width: 150px;
        /* Reduce el tamaño máximo de la imagen */
    }

    .filaInfo span {
        font-size: 18px;
        margin-top: 10px;
    }

    .filaInfo ul {
        padding: 0;
        margin: 10px 0;
        text-align: left;
    }

    .full-title h2 {
        font-size: 3.2rem;
    }

    .afiliados h3 {
        font-size: 3rem;
    }

    .empresas img {
        width: 160px;
        height: 150px;
    }
}

@media (max-width: 480px) {
    .productos h3 {
        font-size: 24px;
    }

    .productos p {
        font-size: 16px;
    }

    .filaInfo img {
        max-width: 120px;
    }

    .filaInfo span {
        font-size: 16px;
    }
}

.contacto {
    display: flex;
    flex-direction: row;
}

.formulario {
    margin: 20px 30px;
    justify-content: center;
}

.formulario h3 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 15px;
    margin-top: 20px;
}

.formulario span {}

.formulario form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    padding: 22px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.formulario input {
    border-radius: 20px;
    border: 1px solid #000;
    font-size: 1rem;
    height: auto;
}

.formulario button {
    margin-top: 5px;
    background-color: #1046ab;
    color: #fff;
    font-size: 1rem;
    border-radius: 50px;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #000;
    color: #fff;
}

.formulario label {
    font-weight: 600;
}

.copyright {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}